<p><%= t "device_custom.mail.hello" %>
  <%= @resource.email %>!</p>

<p><%= t "device_custom.mail.change_password_message" %></p>

<p><%= link_to t("device_custom.mail.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<%= t "device_custom.mail.change_password_confirm_html" %>
